[submodule "cpp_emulator/HighFive"]
	path = cpp_emulator/HighFive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "morton-nd"]
	path = morton-nd
	url = https://github.com/kevinhartman/morton-nd.git
